= simple_form_for @event do |f|
	= error_messages_for(f.object)
	= f.input :title, as: :string
	= f.input :profile_image_id
	= f.input :description
	= f.text_field :date, id: "datepicker", value: Date.today.strftime('%m/%d/%Y')
	= f.input :start_time, as: :time, ampm: true, minutes_step: 30
	= f.input :end_time, as: :time, ampm: true, minute_step: 30
	= f.input :hosted_by, as: :string
	= f.input :dj, as: :string
	= f.input :drink_specials, as: :string
	= f.input :cover_charge, as: :string
	= f.input :event_type, collection: @event_types, include_blank: false
	= f.input :event_link, as: :url
	= f.button :submit