.event
	= simple_form_for @event do |f|
		.col.p-0
			- if !@event&.profile_image_id_url&.present?
				%p#event_widget_opener.new Upload Photo
			- else
				= image_tag(@event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
				%p#event_widget_opener Update Photo

		.event-info
			= error_messages_for(f.object)
			= f.input :title, as: :string, placeholder: 'Ex. Rockstrap'
			= f.input :profile_image_id_cache, as: :hidden
			= f.input :description, placeholder: 'Describe the event'
			= f.input :date, as: :date, order: [:month, :day, :year]
			= f.input :start_time, as: :time, ampm: true, minutes_step: 30
			= f.input :end_time, as: :time, ampm: true, minute_step: 30
			= f.label "recurring"
			= f.select_recurring :recurring, nil, allow_blank: true
			= f.input :end_date, as: :date, order: [:month, :day, :year]
			= f.input :hosted_by, as: :string, placeholder: 'Ex. Joey'
			= f.input :dj, as: :string, placeholder: 'Ex. Lorant (no need to type dj)'
			= f.input :drink_specials, as: :string, placeholder: 'Ex. $5 Draft Beers'
			= f.input :cover_charge, as: :string, placeholder: 'Ex. $5 (no need to type cover)'
			= f.input :event_link, as: :url, placeholder: 'Ex. https://facebook.com/events/82474927'
			= f.button :submit
			= link_to('Cancel', :back)
		.clear