= simple_form_for @event, method: :delete do |f|

	.event-delete	
		%h2 
			= "Are you sure you want to delete '#{@event.title}'?"

		= f.button :submit, value: 'delete'
		= link_to('Cancel', event_path(@event))
