- @page_title = "Calendar"

.calendar-page
	%h1 Calendar

	= month_calendar do |date|
		= date.day

		- @events.each do |event|
			- if event.date == date
				%div
					%h5
						= link_to event.title, event
					%p
						= "#{event.start_time.strftime("%-I")} - #{event.end_time.strftime("%-I")}"	

	- if current_user
		%h2.mt-5
			= link_to("+ Add New Event", new_event_path)
