- @page_title = "#{@event.title}"

.event-page
	.event.clearfix
		.col.p-0
			- if @event.profile_image_id_url.present?
				= image_tag(@event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
			- else
				= image_tag("event_fallback.png", :width => 200, :height => 300, class: 'cover-photo')
		.event-info
			%h1
				= @event.title	
			%h5
				= @event.date.strftime("%A - %m.%d")
				%br
				= "#{@event.start_time.strftime("%-I%p")} - #{@event.end_time.strftime("%-I%p")}"
			%h6.mt-5
				= "Hosted by #{@event.hosted_by}" if @event.hosted_by.present?
				- if @event.dj.present?
					%br
					= "DJ #{@event.dj}" 
				- if @event.drink_specials.present?	
					%br
					= "#{@event.drink_specials}"
			%p.mb-5.mt-5
				= @event.description
				%br
				%br
				= "Cover Charge: #{@event.cover_charge}"
			= link_to("Visit Event Page", @event.event_link, target: '_blank', class: 'btn-white w-50')
		.clear	

	- if current_user		
		.admin-links
			= link_to("Edit", edit_event_path(@event))	
			%p
				|
			= link_to("Delete", delete_event_path(@event))