- @page_title = "#{@event.title}"

-# = link_to("Back to Calendar", events_path)

.event-page
	.event
		.col.p-0
			= image_tag(@event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
		.event-info
			%h1
				= @event.title	
			%h5
				= @event.date.strftime("%A - %m.%d")
				%br
				= "#{@event.start_time.strftime("%-I")} - #{@event.end_time.strftime("%-I")}"
			%h6.mt-5
				= "Hosted by #{@event.hosted_by}"
				%br
				= "DJ #{@event.dj}"
				%br
				= "#{@event.drink_specials}"
			%p.mb-5.mt-5
				= @event.description
				%br
				= "Cover Charge: #{@event.cover_charge}"
			= link_to("Learn More", @event.event_link, class: 'link')
		.clear	

	- if current_user		
		.admin-links
			= link_to("Edit", edit_event_path(@event))	
			%p
				|
			= link_to("Delete", delete_event_path(@event))