= simple_form_for @album, method: :delete do |f|

	.album-delete
		%h2 
			= "Are you sure you want to delete '#{@album.title}'?"

		= f.button :submit, value: 'delete'
		= link_to('Cancel', photo_albums_path)