- @page_title = "Gallery"

.gallery-page
	%h1 Gallery

	.gallery
		- @albums.each do |album|
			.album
				= link_to photo_album_path(album) do
					.image-overlay
						= image_tag(album.album_image_id_url, :width => 300, :height => 200, class: 'cover-photo')
						%span
							%h4
								= album.title
							%p
								= truncate(album.description, length: 50)
				- if current_user				
					.admin
						= link_to("Edit", edit_photo_album_path(album), class: 'mr-2')
						%p.mr-2 
							|
						= link_to("Delete", delete_photo_album_path(album))
		- if current_user
			= link_to new_photo_album_path do	
				%h4.new-album
					+ Add New Album
		.clear			
