- @page_title = "Album: #{@album.title}"

= link_to("<< Back to Gallery", photo_albums_path)

.album-page
	%h1
		= @album.title
	%p	
		= @album.description
	.album-photos
		%h3 Here are the photos from this album:
		- @album.photos.each do |photo|
			%p
				= photo.title
			= image_tag(photo.photo_image_id_url, :width => 300, :height => 200)
			- if current_user
				%p
					= link_to("Edit", edit_photo_album_photo_path(@album, photo))
					= link_to("Delete", delete_photo_album_photo_path(@album, photo))
		- if current_user	
			%h2
				= link_to("+ Add a new photo", new_photo_album_photo_path(@album))		
