= simple_form_for [@album, @photo], method: :delete do |f|

	.photo-delete
		%h2 
			= "Are you sure you want to delete the photo: '#{@photo.title}' from the album: '#{@album.title}'?"

		= f.button :submit, value: 'delete'
		= link_to('Cancel', photo_album_path(@album))