- @page_title = "About"

.about-page
	%h1 About
	%h5
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	%h5.signature
		Love, ROCKBAR NYC

	%h1 STAFF
	.staff-members
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...
		.staff
			.image-overlay
				= image_tag("me-social.jpg")
				%span
					%h3 AARON
			%p this is a description of the person who is working at rockbar...	
		.div.clear					
