- if @featured_events.length > 0
	%h1 UPCOMING EVENTS

.featured-events
	- @featured_events.each do |event|
		- if event == @featured_events.first
			.featured-event.special
				%h6
					= event.date.strftime("%a - %m.%d")
				%h6.mb-2
					= "#{event.start_time.strftime("%-I%p")} - #{event.end_time.strftime("%-I%p")}"	
				= link_to event_path(event) do
					- if event.profile_image_id_url.present?
						= image_tag(event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
					- else
						= image_tag("event_fallback.png", :width => 200, :height => 300, class: 'cover-photo')
		- else			
			.featured-event
				%h6
					= event.date.strftime("%a - %m.%d")
				%h6.mb-2
					= "#{event.start_time.strftime("%-I%p")} - #{event.end_time.strftime("%-I%p")}"	
				= link_to event_path(event) do
					= image_tag(event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
	.clear
.link	
	= link_to("VIEW CALENDAR", events_path, class: 'btn-white')					
