%h1 UPCOMING EVENTS

.featured-events
	- @featured_events.each do |event|
		- if event == @featured_events.first
			.featured-event.special
				%h6
					- if event.date == Date.today
						= "#{event.date.strftime("%a - %m.%d")} (TODAY)"
					- else
						= event.date.strftime("%a - %m.%d")
				%p 
					= link_to event_path(event) do
						= image_tag(event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
		- else			
			.featured-event
				%h6
					= event.date.strftime("%a - %m.%d")
				%p 
					= link_to event_path(event) do
						= image_tag(event.profile_image_id_url, :width => 200, :height => 300, class: 'cover-photo')
	.clear
.link	
	= link_to("see all events >>", events_path)	
					