%footer
	.main-width
		.footer-logo
			= image_tag "rockbar_logo_white.png"
		.footer-sections
			.footer-section
				%h2 Bar Hours
				%p Mon to Thur: 5pm - 2am
				%p Friday: 4pm - 4am
				%p Saturday: 2pm - 4am
				%p Sunday: 2pm - 2am
			.footer-section
				%h2 Sections
				= link_to("Calendar of Events", events_path)
				= link_to("About Us & Staff", '/about/index')
				= link_to("Contact Us & Map", '/contact/index')
				= link_to("Gallery of Albums", photo_albums_path)	
			.footer-section
				%h2 Follow Us
				.social
					= link_to "https://www.facebook.com/rockbarnyc/" do
						%i.fa.fa-facebook-square
					= link_to "https://www.instagram.com/rockbarnyc/" do
						%i.fa.fa-instagram
		%p.rights All Rights Reserved ROCKBAR NYC, 2019