%header
	.main-width
		- if !current_page?(root_path)
			.header-logo
				= link_to root_path do
					= image_tag "rockbar_logo_white.png"
		- else 
			%div			
		%i.fa.fa-bars
%nav
	%i.fa.fa-times
	.nav-content
		= link_to("calendar", events_path)
		= link_to("about", '/about')
		= link_to("contact", '/contact')
		= link_to("gallery", photo_albums_path)