!!!
%html
  %head
    %title
      - if @page_title.present?
        = "Rockbar | #{@page_title}"
      - else
        = Rockbar   

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.jpg')


  %body
    = render 'layouts/header'
    .main-content 
      .main-width 

        - if !flash[:notice].blank?
          .notice
            %p
              = flash[:notice]

        = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application'
    = javascript_include_tag "//widget.cloudinary.com/global/all.js"
    <script type="text/javascript">$('.datetimepicker').datetimepicker();</script>
    = yield(:head_tags)