!!!
%html
  %head
    %title
      - if @page_title.present?
        = "Rockbar | #{@page_title}"
      - else
        = Rockbar   

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    .main-content  

      - if !flash[:notice].blank?
        .notice
          %p
            = flash[:notice]

      = yield
      -# = render 'layouts/featured'
    = render 'layouts/footer'